.card {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__content {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__button-like {
  background: transparent url(../images/Group.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  justify-content: space-between;
  transition: opacity 0.2s ease;
}

.card__button-like_active {
  background-image: url(../images/like-active.svg);
}

.card__button-like:hover {
  opacity: 0.5;
}

.card__button-delete {
  position: absolute;
  top: 18px;
  left: 250px;
  background: transparent url(../images/Trash.svg) no-repeat;
  border: none;
  width: 18px;
  height: 19.3px;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}

.card__button-delete:hover {
  opacity: 60%;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  margin: 0;
  padding: 0;
}
